.comm-dialog-box {
  width: 100%;
  height: 100%;
}

.CommDialog {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.CommDialogContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  transform: translateY(100%);
  z-index: 9009;
}

.CommDialogContent.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.CommDialogContentShow {
  transform: translateY(0);
}
