.app .obSelectChainBody {
  width: 320px;
  height: 372px;
}

.app-mobile .obSelectChainBody {
  width: calc(100% - 30px);
  max-height: 90vh;
  height: 372px;
}

.obSelectChainBody {
  position: relative;
  margin: 4.2rem auto;
  height: calc( 100% - 8.4rem - var(--top-nav-height) - var(--bottom-nav-height));
  border-radius: 20px;
  padding: 20px 0;
  /* background: #2C2F36; */
  background-color: #3f415b;
}

.obSelectChainBody .selectChainContent {
  position: relative;
  padding: 0 20px;
}

.obSelectChainBody .selectChainContent .topItem {
  width: 100%;
  height: 2rem;
  font-size: 18px;
  font-weight: bold;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  margin-bottom: 18px;
  position: relative;
}

.obSelectChainBody .selectChainContent .input {
  position: relative;
  border-radius: 28px;
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 14px;
  padding: 10px;
  padding-left: 48px;
  border: 1px solid #40444F;
}

.obSelectChainBody .selectChainContent input::placeholder {
  font-size: 14px;
  font-family: 'Inter Regular';
}

.obSelectChainBody .selectChainContent .searchIcon {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 20px;
  height: 20px;
  fill:rgba(51, 51, 51, 0.4);
}

.obSelectChainBody .list-content-box {
  overflow-y: scroll;
  height: calc(100% - 90px);
}

.obSelectChainBody .contentItem {
  width: 100%;
  align-items: center;
  display: flex;
  position: relative;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.obSelectChainBody .contentItem:hover {
  background-color: rgba(0, 0, 0, 0.15);
}


.obSelectChainBody .contentItem .logo {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  padding: 3px;
}

.obSelectChainBody .contentItem .right {
  text-align: right;
  position: absolute;
  right: 12px;
}

/* ::v-deep .ant-input {
  background-color: transparent;
  border: 0;
  outline: none;
  color: var(--default-black);
  font-size: 1.4rem;
  height: 100%;
}

::v-deep .ant-input-affix-wrapper {
  border: none;
  background: transparent;
  outline: none;
  box-shadow: none;
} */
