.grey-content .ant-table-thead>tr>th {
  background-color: rgba(0, 0, 0, 0.4);
  color: inherit;
  border-bottom: transparent;
}

.grey-content .ant-table-wrapper tr:hover th {
  background-color: rgba(0, 0, 0, 0.6) !important
}

.grey-content .ant-table-wrapper tr:hover td {
  background-color: rgba(0, 0, 0, 0.6) !important
}

.grey-content .ant-table-header {
  background-color: transparent;
}

.grey-content .ant-table {
  color: #ffffff;
}

.grey-content .ant-table>* {
  color: inherit;
  border-color: transparent;
}

.grey-content .ant-table-tbody>tr>td {
  border-color: transparent;
}

.grey-content .ant-table-fixed-header>.ant-table-content>.ant-table-scroll>.ant-table-body {
  background-color: transparent;
}

.grey-content .ant-table-fixed-header .ant-table-scroll .ant-table-header::-webkit-scrollbar {
  border: none;
}

.grey-content .ant-table-placeholder {
  background: inherit;
  border: none;
  color: inherit;
  opacity: 0.8;
}

.grey-content .ant-table-placeholder .ant-empty-image {
  opacity: 0.5;
}
